Repository happy-co/programmable-video: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dartdoc, firebase_functions, flutter_analyze, kotlin_analyze, pod_lint, swift_analyze, unit_test

Path conditions:
  dartdoc: any of: lib/**/*, README.md
  firebase_functions: any of: example/firebase/functions/**/*
  flutter_analyze: any of: lib/**/*.dart, test/**/*.dart, example/lib/**/*.dart, example/test/**/*.dart
  kotlin_analyze: any of: android/**/*.kt
  pod_lint: any of: ios/twilio_unofficial_programmable_video.podspec
  swift_analyze: any of: ios/**/*.swift
  unit_test: any of: lib/**/*, example/lib/**/*, test/**/*, example/test/**/*

30 implement datatrack on ios (#1)
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/LocalParticipantListener.kt
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/RemoteDataTrackListener.kt
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/RemoteParticipantListener.kt
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/RoomListener.kt
  ios/Classes/LocalParticipantListener.swift
  ios/Classes/PluginHandler.swift
  ios/Classes/RemoteDataTrackListener.swift
  ios/Classes/RemoteParticipantListener.swift
  ios/Classes/RoomListener.swift
  ios/Classes/SwiftTwilioProgrammableVideoPlugin.swift
Due: kotlin_analyze, swift_analyze

Implement photo taking on both platforms
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  ios/Classes/PluginHandler.swift
Due: kotlin_analyze, swift_analyze

Implement photo taking on both platforms
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  ios/Classes/PluginHandler.swift
  lib/src/programmable_video.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

Implement ability to take capture photos nativly
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  ios/Classes/PluginHandler.swift
  lib/src/programmable_video.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

Implement ability to take capture photos natively
  ios/Classes/PluginHandler.swift
Due: swift_analyze

#67 - TrackSubscription default rule selection
  CHANGELOG.md
  README.md
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  example/lib/main.dart
  example/lib/room/join_room_form.dart
  example/pubspec.lock
  ios/Classes/PluginHandler.swift
  lib/src/connect_options.dart
  pubspec.lock
  pubspec.yaml
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

Resolve "Starting from 0.3.1+3 getting MissingPluginException on Android"
  CHANGELOG.md
  example/pubspec.lock
  pubspec.lock
  pubspec.yaml
Due: none

#69 - Upgraded Android SDK and fixed `README.md`
  CHANGELOG.md
  README.md
  android/build.gradle
  example/android/app/src/main/res/values/attrs.xml
  pubspec.yaml
Due: dartdoc

Implement ability to take capture photos natively
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
Due: kotlin_analyze

Implement photo taking (#2)
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/PluginHandler.kt
  ios/Classes/PluginHandler.swift
  lib/src/programmable_video.dart
Due: dartdoc, flutter_analyze, kotlin_analyze, swift_analyze, unit_test

Testing and enabling builds through the use of Bitrise
  README.md
  example/android/app/build.gradle
Due: dartdoc

#73 - Upgraded Node.js runtime from v8 to v10
  example/firebase/functions/package.json
  example/pubspec.lock
Due: firebase_functions

#30 - Implement DataTrack on iOS
  CHANGELOG.md
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/LocalParticipantListener.kt
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/RemoteDataTrackListener.kt
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/RemoteParticipantListener.kt
  android/src/main/kotlin/twilio/flutter/twilio_programmable_video/RoomListener.kt
  example/pubspec.lock
  ios/Classes/LocalParticipantListener.swift
  ios/Classes/PluginHandler.swift
  ios/Classes/RemoteDataTrackListener.swift
  ios/Classes/RemoteParticipantListener.swift
  ios/Classes/RoomListener.swift
  ios/Classes/SwiftTwilioProgrammableVideoPlugin.swift
  pubspec.yaml
Due: kotlin_analyze, swift_analyze

#74 - Enable developers to pass a `key` into the widget
  CHANGELOG.md
  lib/src/local_video_track.dart
  pubspec.yaml
Due: dartdoc, flutter_analyze, unit_test

Resolve "Automating messaging the discord on a new tag release"
  .gitignore
  .gitlab-ci.yml
Due: none

#52 - Fixes wrong paths for tagging after changing these repository paths
  .gitlab-ci.yml
Due: none

#52 - Fixes missing backslashes in tag jobs
  .gitlab-ci.yml
Due: none

#76 - Housekeeping changes after release the platform interface and encountered some minor issues
  .gitlab-ci.yml
  programmable_video/CHANGELOG.md
  programmable_video/README.md
  programmable_video/example/pubspec.lock
  programmable_video/example/pubspec.yaml
  programmable_video/pubspec.lock
  programmable_video/pubspec.yaml
  programmable_video_platform_interface/CHANGELOG.md
  programmable_video_platform_interface/pubspec.yaml
Due: none

#76 - Being less specific for release tags, if needed we need to check it earlier, for example during tagging
  .gitlab-ci.yml
Due: none

#76 - Fix curl job to post changelog to Discord
  .gitlab-ci.yml
Due: none

Resolve "Do not import implementation files from another package"
  programmable_video/CHANGELOG.md
  programmable_video/example/pubspec.lock
  programmable_video/lib/src/parts.dart
  programmable_video/pubspec.lock
  programmable_video/pubspec.yaml
  programmable_video_platform_interface/CHANGELOG.md
  programmable_video_platform_interface/lib/src/programmable_video_platform_interface.dart
  programmable_video_platform_interface/pubspec.yaml
Due: none

Fix Datatrack on iOS
  ios/Classes/BaseListener.swift
  ios/Classes/LocalParticipantListener.swift
  ios/Classes/RemoteDataTrackListener.swift
Due: swift_analyze

#80 - Removed wrong assertion
  programmable_video/CHANGELOG.md
  programmable_video/example/pubspec.lock
  programmable_video/pubspec.lock
  programmable_video_platform_interface/CHANGELOG.md
  programmable_video_platform_interface/lib/src/models/room/room_model.dart
  programmable_video_platform_interface/pubspec.yaml
Due: none

Fix datatrack ios (#3)
  ios/Classes/BaseListener.swift
  ios/Classes/LocalParticipantListener.swift
  ios/Classes/RemoteDataTrackListener.swift
Due: swift_analyze

Resolve "Adding a simple E2E test to check if we can enter and join a room and afterwards disconnect from it"
  programmable_video/example/android/app/build.gradle
  programmable_video/example/lib/conference/conference_button_bar.dart
  programmable_video/example/lib/conference/conference_page.dart
  programmable_video/example/lib/conference/participant_widget.dart
  programmable_video/example/lib/room/join_room_form.dart
  programmable_video/example/pubspec.lock
  programmable_video/example/pubspec.yaml
  programmable_video/example/test/widget_test.dart
  programmable_video/example/test_driver/app.dart
  programmable_video/example/test_driver/app_test.dart
Due: none

Resolve "no dataTracks in connectionOptions causes exception"
  .idea/runConfigurations/example_lib_main_dart.xml
  .idea/runConfigurations/programmable_video_example_lib_main_dart.xml
  programmable_video/CHANGELOG.md
  programmable_video/example/pubspec.lock
  programmable_video/lib/src/connect_options.dart
  programmable_video/pubspec.yaml
Due: none

Resolve "Upgrade dependencies and add more FAQ"
  .gitlab-ci.yml
  programmable_video/.idea/markdown-navigator-enh.xml
  programmable_video/.idea/markdown-navigator.xml
  programmable_video/CHANGELOG.md
  programmable_video/FAQ.md
  programmable_video/android/build.gradle
  programmable_video/example/firebase/functions/package-lock.json
  programmable_video/example/firebase/functions/package.json
  programmable_video/example/firebase/functions/src/web-hooks/index.ts
  programmable_video/example/ios/Podfile.lock
  programmable_video/example/pubspec.lock
  programmable_video/example/pubspec.yaml
  programmable_video/ios/twilio_programmable_video.podspec
  programmable_video/pubspec.lock
  programmable_video/pubspec.yaml
  programmable_video_platform_interface/.gitignore
  programmable_video_platform_interface/.idea/.gitignore
  programmable_video_platform_interface/.idea/codeStyles/Project.xml
  programmable_video_platform_interface/.idea/markdown-navigator-enh.xml
  programmable_video_platform_interface/.idea/markdown-navigator.xml
Due: none

#92 - Clarified the use of the `proguard-rules.pro` file and howto enable it.
  programmable_video/FAQ.md
  programmable_video/README.md
  programmable_video/example/android/app/build.gradle
  programmable_video/example/android/app/proguard-rules.pro
Due: none

Fix connection issues with custom video formats on iOS 13
  ios/Classes/PluginHandler.swift
Due: swift_analyze

#93 - Fixed wrong assert in RoomModel. _connectToRoom() of conference_page.dart is now async and now handles errors when connecting to a Room fails.
  programmable_video/example/lib/conference/conference_page.dart
  programmable_video_platform_interface/CHANGELOG.md
  programmable_video_platform_interface/lib/src/models/room/room_model.dart
  programmable_video_platform_interface/pubspec.yaml
Due: none

Resolve "Improvements for CodeMagic E2E tests"
  .gitignore
  programmable_video/.gitignore
  programmable_video/example/.gitignore
  programmable_video/example/android/.gitignore
  programmable_video/example/android/app/build.gradle
  programmable_video/example/android/gradle/wrapper/gradle-wrapper.jar
  programmable_video/example/android/gradlew
  programmable_video/example/lib/conference/conference_button_bar.dart
  programmable_video/example/pubspec.yaml
  programmable_video/example/test_driver/app_test.dart
Due: none

Fix ios13 video format (#6)
  ios/Classes/PluginHandler.swift
Due: swift_analyze

#82 - Added missing exception codes & methods now throw TwilioExceptions in some cases instead of PlatformExceptions
  programmable_video/CHANGELOG.md
  programmable_video/CONTRIBUTING.md
  programmable_video/lib/src/local_data_track.dart
  programmable_video/lib/src/programmable_video.dart
  programmable_video/lib/src/twilio_exception.dart
  programmable_video/pubspec.yaml
Due: none

Resolve "Unit test programmable-video plugin"
  programmable_video/CHANGELOG.md
  programmable_video/example/pubspec.lock
  programmable_video/lib/src/connect_options.dart
  programmable_video/lib/src/room.dart
  programmable_video/pubspec.lock
  programmable_video/pubspec.yaml
  programmable_video/test/camera_capturer_test.dart
  programmable_video/test/connect_options_test.dart
  programmable_video/test/data_track_options_test.dart
  programmable_video/test/local_audio_track_publication_test.dart
  programmable_video/test/local_audio_track_test.dart
  programmable_video/test/local_data_track_publication_test.dart
  programmable_video/test/local_data_track_test.dart
  programmable_video/test/local_participant_test.dart
  programmable_video/test/local_video_track_publication_test.dart
  programmable_video/test/local_video_track_test.dart
  programmable_video/test/mock_platform_interface.dart
  programmable_video/test/model_instances.dart
  programmable_video/test/programmable_video_test.dart
  programmable_video/test/remote_audio_track_publication_test.dart
  programmable_video/test/remote_audio_track_test.dart
  programmable_video/test/remote_data_track_publication_test.dart
  programmable_video/test/remote_data_track_test.dart
  programmable_video/test/remote_participant_test.dart
  programmable_video/test/remote_video_track_publication_test.dart
  programmable_video/test/remote_video_track_test.dart
  programmable_video/test/room_test.dart
  programmable_video/test/twilio_programmable_video_test.dart
Due: none

#97 - Upgraded Twilio SDKs to latest version
  programmable_video/CHANGELOG.md
  programmable_video/android/build.gradle
  programmable_video/example/ios/Podfile.lock
  programmable_video/ios/twilio_programmable_video.podspec
  programmable_video/pubspec.yaml
Due: none

#100 - Receiving a remote data track message throws a `Unhandled Exception: type '_InternalLinkedHashMap<dynamic, dynamic>' is not a subtype of type 'Map<String, dynamic>'`
  programmable_video/example/pubspec.lock
  programmable_video/pubspec.lock
  programmable_video_platform_interface/CHANGELOG.md
  programmable_video_platform_interface/lib/src/method_channel_programmable_video.dart
  programmable_video_platform_interface/pubspec.yaml
Due: none

#35 Added Region enums for both `ConnectOptions.region` and `Room.mediaRegion` instead of string values
  programmable_video/CHANGELOG.md
  programmable_video/example/ios/Podfile.lock
  programmable_video/example/pubspec.lock
  programmable_video/lib/src/room.dart
  programmable_video/pubspec.yaml
Due: none
